@tailwind base;
@tailwind components;
@tailwind utilities;


.container {
  position: relative;
}
.full-image {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.full-image-2 {
  position: fixed; 
  top: 0;
  left: 0;
  width: 150%;
  height: 150%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}
.content {
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

/*
svg.fa-simple-velocity-browser-icon[data-prefix="simple-velocity"] {
  fill-rule: evenodd;
} */